<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
        <a href="http://localhost:3000/posts/new"> create new post</a>  
    <% for (let post of posts){ %>
        <div class="post">
        <h2 class="user">@<%=post.username  %></h2>
        <h3 class="content"><%= post.content  %>!</h3> 
        <a href="http://localhost:3000/posts/<%=post.id %>"> See in detail</a>  
        <a href="http://localhost:3000/posts/<%=post.id %>/edit"> edit</a>  
        
        </div>
        <% } %>

</body>
</html>